<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.DishMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish
        (restaurant_id,name,price, image, description, status)
        values
            (#{restaurant_id},#{name},  #{price}, #{image}, #{description}, #{status})
    </insert>



    <update id="update">
        update dish
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据ID删除 -->
    <delete id="deleteById">
        DELETE FROM dish
        WHERE id = #{id}
    </delete>

    <select id="queryByRestaurantId" resultType="org.example.pojo.entity.Dish">
        select * from dish
        <where>
          restaurant_id = #{restaurantId}
        </where>
    </select>

    <select id="pageQuery" resultType="org.example.pojo.entity.Dish">
        select * from dish
        <where>
            <if test="restaurantId != null">
                restaurant_id = #{restaurantId}
            </if>
            <if test="name != null and name !=''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>