<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.HotelMapper">


    <!-- 查询所有民宿 -->
    <select id="queryAllHotel" resultType="org.example.pojo.entity.Hotel">
        SELECT *
        FROM hotel
    </select>

    <select id="userquery" resultType="org.example.pojo.entity.Hotel">
        SELECT *
        FROM hotel
        <where>
            <if test="name != null">
                name like concat('%',#{name},'%')
            </if>
            <if test="label != null">
                and label like concat('%',#{label},'%')
            </if>
        </where>
    </select>

    <select id="queryByprice" resultType="org.example.pojo.entity.Hotel">
        SELECT *
        FROM hotel
        ORDER BY minprice
    </select>

    <!-- 查询本商家的所有民宿 -->
    <select id="queryByMarkerId" resultType="org.example.pojo.entity.Hotel">
        SELECT *
        FROM hotel
        WHERE marketer_id = #{markerId}
    </select>

    <!-- 新增民宿（自动回填自增ID） -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hotel (marketer_id,name, location, latitude, longitude,contact,label,opening_year,fitment_year,license,floor_num,room_num,image)
        VALUES (#{marketerId},#{name}, #{location}, #{latitude}, #{longitude},#{contact},#{label},#{openingYear},#{fitmentYear},#{license},#{floornum},#{roomnum},#{image})
    </insert>

    <!-- 根据ID删除 -->
    <delete id="deleteById">
        DELETE FROM hotel
        WHERE id = #{id}
    </delete>

    <!-- 更新民宿信息（动态SQL） -->
    <update id="update">
        UPDATE hotel
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="location != null">
                location = #{location},
            </if>

            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
           <if test="contact != null">
                contact = #{contact},
            </if>
            <if test="license != null">
                license = #{license},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="label != null">
                label = #{label},
            </if>
            <if test="openingYear != null">
                opening_year = #{openingYear},
            </if>
            <if test="fitmentYear != null">
                fitment_year = #{fitmentYear},
            </if>
            <if test="floornum != null">
                floor_num = #{floornum},
            </if>
            <if test="roomnum != null">
                room_num = #{roomnum},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="pageQuery" resultType="org.example.pojo.entity.Hotel">
        select * from hotel
    </select>

    <!-- 根据ID查询民宿详细页 -->
    <select id="queryById" resultType="org.example.pojo.entity.Hotel">
        SELECT *
        FROM hotel
        WHERE id = #{id}
    </select>


</mapper>