<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.server.mapper.TicketMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into ticket
        (scenic_id, name, price, label)
            values(#{scenicId}, #{name}, #{price}, #{label})
    </insert>



    <update id="update">
        update ticket
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="label != null">
                label = #{label},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据ID删除 -->
    <delete id="deleteById">
        DELETE FROM ticket
        WHERE id = #{id}
    </delete>

    <select id="queryByScenicId" resultType="org.example.pojo.entity.Ticket">
        select * from ticket
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            and scenic_id = #{scenicId}
        </where>
    </select>

    <select id="pageQuery" resultType="org.example.pojo.entity.Ticket">
        select * from ticket
        <where>
            <if test="scenicId != null">
                scenic_id = #{scenicId}
            </if>
            <if test="name != null and name !=''">
               and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>